img {
    animation-name : moveUpwards;
    animation-iteration-count : infinite;
    animation-direction : alternate;
    animation-duration : 1s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@keyframes moveUpwards {
    from {transform: translateY(0px);}
    to {transform: translateY(10px);}
}